* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
	width: 0.7em;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255), 0);
}

body::-webkit-scrollbar-thumb {
	background: #182240;
	background-clip: padding-box;
	color: #f5f5f5;
	transition: background .6s ease;
	box-shadow: var(--box-shadow);
	border-radius: 2px;
	border: 2px solid #fff;
}

section.body-page {
	min-height: 100vh;
	width: 100%;
	background-color: #1D4CD8;
}

.cover-bg {
	background-color: rgba(23,23,23,.79);
	min-height: 100vh;
	width: 100%;
}

.cover-bg h1 {
	text-align: center;
	color: #ddd;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 4%;
}

.cover-bg p {
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	font-size: 20px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 5%;
}

.logo {
	text-align: center;
	margin-bottom: -50px;
}

.logo img {
	width: 450px;
}

.search-box {
	width: 50vw;
	margin: 0 auto;
}

.search-box input {
	text-align: center;
}

.show {
	margin: 0 auto;
}

.panel {
	width: 50vw;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	color: #092A8C;
	font-size: 17px;
}

.panel h2 {
	text-align: left;
	margin-left: 15px;
	font-size: 22px;
}

.panel img {
	width: 100%;
	padding: 0;
	margin: 0;
}

.panel h4 {
	color: #ca3049;
	font-weight: 700;
	margin-bottom: 7px;
}

.list-group-item {
	background-color: #fff;
}

#repos h3 {
	text-align: center;
	color: #fff;
	font-weight: 700;
}

#info h3,#repos h4,.spantop {
	margin-bottom: 40px;
}

.showmore {
	display: none;
	margin-bottom: 5%;
}

#moreinfo {
	background-color: #4cae4c;
}

#checkprofile {
	background-color: #d43f3a;
}

.panel-body {
	background-color: #2b2f38;
}

#username {
	color: #fff;
}

#colorH4 {
	color: #fff;
}

#infoH3 {
	color: #fff;
}

#repos {
	background-color: #2b2f38;
}

#viewvode {
	color: #4169E1;
	text-decoration: none;
}

#viewvode:hover {
	color: #2D65A4;
	text-decoration: none;
}

@media only screen and (max-width: 400px){
	.logo {
		text-align: center;
		margin-bottom: -20px;
	}
	.logo img {
		width: 150px;
	}
}

@media only screen and (max-width: 600px){
	.logo {
		text-align: center;
		margin-bottom: -20px;
	}
	.logo img {
		width: 250px;
	}
}

@media only screen and (max-width: 1092px){
	.cover-bg p {
		font-size: 12px;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 5%;
	}
	.cover-bg h1 {
		font-size: 28px;
		margin-top: 12%;
	}
	.logo {
		text-align: center;
		margin-bottom: -50px;
	}
	.logo img {
		width: 400px;
	}
	.panel {
		width: 70vw;
		margin-top: 3%;
	}
	.search-box {
		width: 70vw;
		margin: 0 auto;
	}
	.show {
		margin-bottom: 5%;
	}
}
